<h1>Directorio de grupos y usuarios</h1>

<% 
  def genera_nivel(ng, gruposya)
    r = ''
    ng.each do |g|
      #byebug
      if gruposya.include?(g.id)
        next
      end
      gruposya<<g.id
      r << "<li><i class='icon-group'></i>#{CGI::escapeHTML(g.nombre)}</li>"
      subnivel = Sip::Grupo.where(
        'id IN (SELECT subgrupo_id FROM grupo_subgrupo WHERE grupo_id=?)', g.id).
        reorder(:nombre)
      usnivel = ::Usuario.where(
        'id in (SELECT usuario_id FROM sip_grupo_usuario WHERE sip_grupo_id=?)', 
        g.id).reorder(:nombres, :apellidos)
      if subnivel.count>0 || usnivel.count>0
        r << "<ul>"
        r << genera_nivel(subnivel, gruposya)
        usnivel.each do |u|
          r << "<li><i class='icon-user'></i>#{CGI::escapeHTML(u.presenta_nombre)}</li>"
        end
        r << "</ul>"
      end
    end
    return r
  end

  primernivel = Sip::Grupo.where(
    'id NOT IN (SELECT subgrupo_id FROM grupo_subgrupo)').reorder(:nombre)
  ad = genera_nivel(primernivel, [])
%>
<ul>
  <%= ad.html_safe %>
</ul>
  

