<div id="root"></div>
<% puts "asset_path=" + asset_path('@pasosdejesus/mapa_tiempo_yi_liu/dist/index.bundle.js') %>
<script src='<%= asset_path('@pasosdejesus/mapa_tiempo_yi_liu/dist/index.bundle.js') %>'></script>

