<div id="camposdinamicos" class="efecto_valorcampotinds-div efecto_valorcampotindsdiv">
  <%= f.simple_fields_for :efecto_valorcampotind do |ev| %>
    <%= render 'efecto_valorcampotind_campos', :f => ev %>
  <% end %>
</div> <!-- efecto_valorcampotinds-div -->
