<% if can?(:dir, :aprobadoefecto) %>
  <div class='row'>
    <div class='col-sm-offset-0 col-sm-6'>
      <%= f.input :aprobadodir, as: :boolean %>
    </div> 
    <div class='col-sm-offset-0 col-sm-6'>
      <%= f.input :observacionesdir, as: :text %>
    </div> 
  </div> <!-- row -->
<% end %>

