<div class='control-group nested-fields'>
  <div class="controls">

    <%= f.simple_fields_for :valorcampotind do |v| %>
      <%= render 'cor1440_gen/admin/tiposindicador/valorcampotind_campos', v: v %>
    <% end %>

  </div>
</div>
