<% if f.object.indicadorpf.tipoindicador.pprogtind &&  
    f.object.indicadorpf.tipoindicador.pprogtind.length > 0 then %>
  <label><%= ::Efecto.human_attribute_name(:porcentajeprog) %></label>
  <div class="row">
    <div class="col-md-2">
      <%= f.input :porcentajeprog, as: :range,
        html_input: {
        type: 'range',
        list: 'tickmarks',
        min: 0,
        max: 100},
        label: false %>
  </div>
  <datalist id="tickmarks">
    <option value="0" label="0%">0%</option>
    <option value="10">
    <option value="20">
    <option value="30">
    <option value="40">
    <option value="50" label="50%">
    <option value="60">
    <option value="70">
    <option value="80">
    <option value="90">
    <option value="100" label="100%">
  </datalist>
    <div class="col-xs-10">
      <%= f.input :porcentajeprogop,
        collection: f.object.indicadorpf.tipoindicador.pprogtind.order(
          :porcentaje),
        html_input: { readonly: true },
        label_method: lambda {|r| "#{r.porcentaje}% - #{r.fase}"},
        selected: f.object.porcentajeprogop,
        value_method: :id,
        include_blank: true,
        label: false %>
    </div>
  </div>
<% end %>

