<tr class='nested-fields'>
  <td>
    <%= f.association :coordinador,
      collection: ::Usuario.habilitados.order(:nombres, :apellidos),
      label: false,
      label_method: lambda {|t| t.nombres + ' ' + t.apellidos},
      value_method: :id
    %>
  </td>
  <td>
    <%= f.input :id, as: :hidden %>
    <%= link_to_remove_association "Eliminar", f, 
        :class => 'btn-danger' 
    %>
    <div><%= f.error_notification %></div>
  </td>
</tr>
