<% acs =  @params[:actividadespf] %>
selectores = $(".select_actividadespf")
valores = selectores.map(function(i, x){return x.value}).get()
$(".select_actividadespf").empty()
$(".select_actividadespf").append('<option value label=""></option>')
<% acs.each do |ac| %>
  div = document.createElement('option')
  av = document.createAttribute('value')
  av.value = <%= ac[1] %>
  div.setAttributeNode(av)
  $(div).html("<%=  ac[0] + ac[2] + " " +  ac[3] %>")
  $(".select_actividadespf").append(div)
<% end %>
  selectores.each(function(i, x){ $(x).val(valores[i])})
