<% inds =  @params[:indicadores] %>
valor = $(".select_indicadores").val()
$(".select_indicadores").empty()
$(".select_indicadores").append('<option value label=""></option>')
<% inds.each do |indicador| %>
  div = document.createElement('option')
  attributeDivider = document.createAttribute('value')
  attributeDivider.value = <%= indicador[1] %>
  div.setAttributeNode(attributeDivider)
  $(div).html("<%=  indicador[0] + indicador[2] + " " +  indicador[3] %>")
  $(".select_indicadores").append(div)
<% end %>
$(".select_indicadores").val(valor)
