<% if !defined?(actoresdisp)  %>
  <% actoresdisp = Sip::Actorsocial.habilitados %>
<% end %>

<% a1 = Sip::Actorsocial.habilitados %>
<% lg = [] %>
<% lg += f.object.grupo_ids if f.object.grupo_ids %>
<% a1 = Sip::ActoressocialesController::filtra_grupos_fecha(
  a1, lg, f.object.fecha) %>
<% a1l = a1.map(&:id) + f.object.actorsocial_ids %>
<% a2 = actoresdisp.joins(:grupoper).where(id: a1l).
  order('sip_grupoper.nombre') %>

<div class="row">
  <div class="col-md-6">
    <%= render partial: 'cor1440_gen/actividades/campo_actorsocial_p2',
      locals: {f: f, actoresdisp: a2} %>
  </div>
  <div class="col-md-6">
    <div>
      <div>
        <a type='button' 
          class='btn data-toggle toggleas'
          style="margin-top: 20px;"
          data-toggle="collapse">
          Agregar nuevo
          <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
      </div>
      <div class="modal fade nuevoas" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h1>Nueva Organizacion social</h1>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= f.fields_for :actorsocial, Sip::Actorsocial.new do |actorsocial|%>
                <% @registro = actorsocial.object %>
                <% @controlador = Sip::ActoressocialesController.new%>
                <%= render partial: "sip/modelos/form_modal" %>

              <% end %>

            </div>
            <div class="modal-footer">
                <%= link_to 'Crear', '#',
                  class: 'btn btn-primary boton_agregaras',
                  "data-dismiss": "modal"
                %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

