<div class="card">
  <h6 class="card-header text-center">Lanzamiento de publicación</h5>
  <div class="card-body">

    <% if !f.object.lanzapublicacion %>
      <% f.object.lanzapublicacion = ::Publicacion.new %>
    <% end %>

    <%= f.fields_for :lanzapublicacion do |fpub|%>
      <% @registro = fpub.object %>
      <% tc = ::PublicacionesController.new %>
      <% # f.template.controller es ActividadesController%>
      <% @atributos_form = tc.atributos_form %>
      <%= fpub.input :id, as: :hidden %>
      <% @atributos_form.each do |atr| %>
        <%= render partial: "sip/modelos/sip_campo_aut", 
          locals: { f: fpub, atr: atr} %>
      <% end %>
    <% end %>

  </div>
</div>
