<p>
Se espera avanzar con el diseño completado por Andrés Mauricio Galindo
tanto para sistematización de información de la línea como
para medición de indicadores.
</p>
<p>La tercera versión de tal diseño está disponible 
<a href='https://drive.google.com/file/d/1vZwqXwoPSZzoG6H0ZfVDpaavrYdmWZTh/view?usp=sharing'>en línea</a></p>
<p>
Estamos a la espera de la versión más reciente de tal diseño
</p>
