<p>
La ídea es generarlas automaticamente a partir de los datos de
Banco de Datos cada 6 meses con publicación de la revista.  
Así se mantendrán datos actualizados con las actualizaciones históricas
que se introduce con cada publicación.
</p>
<p>
Estamos a la espera de parte del equipo de Conflicto y Estado 
de un marco conceptual que indique cada categoria de Dinámicas
del Conflicto de cuales proviene en Marco Conceptual de Banco de Datos.
</p>
