
.body-externo {
  background-color: #f0f0f0;
}

.container-externo {
  background-color: #ffffff;
  margin-top: 40px;
}

.body-externo > h1 {
    text-align: center;
}

.pie-externo {
  background-color: #239cd3;
  margin-top: 40px;
}
